<% if((success && success.length)) { %>
<div class="flashBox" style=" display: flex; justify-content: center; align-items: center; position: absolute; width: 100%; height: 50px; left: 0px; top: 0px;  padding: 10px; padding-left: 1rem;  color:yellow; font-size: 20px;">
    <%=success%>
  </div>
<% } %>  
