<div class="navbar">
    <a href="#"><div id="logo">Across Us</div></a>
    <div id="navbarContent">
        <div>
            <a href="#"><span>Chats<i class="fa-solid fa-comments" style="color: #ffffff;"></i></span></a>
            <a href="#"><span>Videos<i class="fa-solid fa-video" style="color: #ffffff;"></i></span></a>
            <a class="blogLink" href="#"><span>Blogs<i class="fa-solid fa-blog" style="color: #ffffff;"></i></span></a>
            <a href="#"><span>Posts<i class="fa-solid fa-tv" style="color: #ffffff;"></i></span></a>
            <span><i style="font-size: x-large; color: white;" class="fa-solid fa-magnifying-glass  searchBtn" style="color: #ffffff;"></i></span>
            <span>
                <form action="">
                    <input type="text" placeholder="search...">
                    <button>search</button>
                </form>
            </span>
        </div>
    </div>
    <div id="navbarButtons">
        <a href="/login"><div class="logoutBtn"><button>LogOut<i class="fa-solid fa-right-from-bracket" style="color: #ff0000;"></i></button></div></a>
    </div>


    <div class="humBurgerMenu"><i class="fa-solid fa-bars" style="color: #ffffff;"></i></div>
    <div class="humBurgerMenu-box"></div>

</div>


