<div class="navbar">
    <a href="#"><div id="logo">Across Us</div></a>
    <div id="navbarContent">
        <div>
            <a href="#"><span>Chats<i class="fa-solid fa-comments" style="color: #ffffff;"></i></span></a>
            <a href="#"><span>Videos<i class="fa-solid fa-video" style="color: #ffffff;"></i></span></a>
            <a class="blogLink" href="#"><span>Blogs<i class="fa-solid fa-blog" style="color: #ffffff;"></i></span></a>
            <a href="#"><span>Posts<i class="fa-solid fa-tv" style="color: #ffffff;"></i></span></a>
            <span><i style="font-size: x-large; color: white;" class="fa-solid fa-magnifying-glass  searchBtn" style="color: #ffffff;"></i></span>
            <span>
                <form action="">
                    <input type="text" placeholder="search...">
                    <button>search</button>
                </form>
            </span>
        </div>
    </div>
    <div id="navbarButtons">
        <a href="/logout"><div class="logoutBtn"><button>LogOut<i class="fa-solid fa-right-from-bracket" style="color: #ff0000;"></i></button></div></a>
    </div>


    <div class="humBurgerMenu"><i class="fa-solid fa-bars" style="color: #ffffff;"></i></div>
    <div class="humBurgerMenu-box">
        <div class="humBurgerMenu-box-content">
            <i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
            <a href="/logout"><p><i class="fa-solid fa-right-from-bracket"></i>Logout</p></a>
            <a href="#"><p><i class="fa-solid fa-comments" style="color: #ffffff;"></i>Chats</p></a>
            <a href="#"><p><i class="fa-solid fa-video" style="color: #ffffff;"></i>Videos</p></a>
            <a href="#"><p><i class="fa-solid fa-blog" style="color: #ffffff;"></i>Blogs</p></a>
            <a href="#"><p><i class="fa-solid fa-tv" style="color: #ffffff;"></i>Posts</p></a>
            <p class="searchBoxBtn"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>Search</p>
            <p class="ssearch">
                <form action="">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Search...</label>
                    </div>
                    <span class="searchBox"><button><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button></span>
                </form>
            </p>
        </div>
    </div>

</div>


