body {
    display: flex;
    background-color: rgb(22, 26, 48);
    height: 100vh;
    flex-direction: column;
}

.container {
    flex: 1;
    margin: 3rem;
    padding: 5rem;
    /* background-color: antiquewhite; */
    display: flex;
    align-self: center;
}

.login-content {
    height: 80%;
    width: 40%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    margin-top: 2.5rem;
    padding: 4rem;
}

.img-content {
    height: 100%;
    width: 50%;
    font-size: 1.25rem;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.author{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.author p{
    color: white;
}

.img-content #content {
    border-radius: 20px;
    height: 590px;
    width: 600px;
    background: linear-gradient(135deg, rgb(49, 48, 77) 0%, rgb(182, 187, 196) 100%) 0px 0px / 600px 600px;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

.img-content #content #img {
    flex:2;
}

.img-content #content #img img {
    height: 400px;
    width: 600px;
    border-top-left-radius: 20px;
    border-top-right-radius:  20px;
}

.img-content #content #content-2 {
    flex: 1;
    padding: 2rem;
    color: #f4f6fc;
    font-weight: 600;
    font-size: larger;
}

.heading {
    margin-bottom: 1rem;
}

.head{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    color: #f4f6fc;
}

.head h2{
    font-size: 3rem;
    font-weight: 700;
}

.head i{
    font-size: 3rem;
}

.heading-content {
    color: #f4f6fc;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}

.heading-content h4 {
    font-weight: 700;
}

.form-content {
    height: 15rem;
    width: 35rem;
}

.form-content .usernameFancy {
    position: relative;
    background-color: rgb(22, 26, 48);
    border: 0.075rem solid #f4f6fc;
    border-radius: 5px;
    height: 50px;
    width: 360px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.form-content .usernameFancy::before {
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    aspect-ratio:1;
    width: 100%;
    animation: rotate  2s linear infinite;
}

.form-content .usernameFancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: (100%-2*var(--offset));
    width: calc(100%-2*var(--offset));
}

.form-content .usernameFancy input {
    background-color: rgb(22, 26, 48);
    color: #f4f6fc;
    font-size: 1rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    padding:6px;
    padding-left: 16px;
}

.form-content .usernameFancy input::placeholder{
    color: #f4f6fc;
}


.login-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin-top: 2rem;
}

.login-buttons button{
    font-weight: 500;
    height: 3rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.signup-content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.05rem;
    margin-top: 0.5rem;
    height: 3rem;
    width: 22.5rem;
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.signup-content p {
    color: #f4f6fc;
}

a {
    color: #f4f6fc;
}

/* --------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 1007px){
    .container {
        flex: 1;
        margin: 0;
        padding: 0;
        /* background-color: antiquewhite; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-content {
        display: none;
    }

    .login-content {
        height: 42rem
    }
}

@media screen and (max-width: 426px){
    .login-content {
        height: 42rem;
        width: 30rem;
    }
}

@media screen and (max-width: 376px){
    .login-content {
        height: 42rem;
        width: 28rem;
    }
}

@media screen and (max-width: 321px){
    .login-content {
        height: 42rem;
        width: 25rem;
    }
}