<% layout('/layouts/boilerplate.ejs') %>

    <div class="menuBar-box">
        <i class="fa-solid fa-bars"></i>
    </div>

<div class="menuBox">
    <div class="insideMenuBox">
        <a href="#"><div class="insideMenuBox-i" onclick="scrollToSection('home-main')"><i class="fa-solid fa-headphones" style="color: #ffffff;"></i></div></a>
        <a href="#home-main2"><div class="insideMenuBox-i" onclick="scrollToSection('home-main2')"><i class="fa-regular fa-circle-check" style="color: #ffffff;"></i></div></a>
        <a href="#home-main3"><div class="insideMenuBox-i" onclick="scrollToSection('home-main3')"><i class="fa-solid fa-phone" style="color: #ffffff;"></i></div></a>
        <a href="#home-main4"><div class="insideMenuBox-i" onclick="scrollToSection('home-main4')"><i class="fa-solid fa-users" style="color: #ffffff;"></i></div></a>
    </div>
</div>

<div id="home-main" class="home-main">
    <div class="home-main-heading">Our Services <i class="fa-solid fa-headset" style="color: #ffffff;"></i></div>
    <div class="home-main-content">
        <div class="scrollButtons">
            <button class="scroll-button1" onclick="scrollContainer(-160)">Previous</button>
            <button class="scroll-button2" onclick="scrollContainer(160)">Next</button>
        </div>
        <div class="inside-home-main-content">
            <div class="box">
                <div class="box-inner">
                    <div class="front-box-content">
                        <h2>Blogging</h2>
                        <i class="fa-solid fa-blog" style="color: #ffffff;"></i>
                    </div>
                    <div class="back-box-content">
                        <h2>Blogging</h2>
                        <p>Join our community of global storytellers and share your cultural experiences, connecting with others who celebrate diversity and inclusion.</p>
                        <a href=""><button>Start</button></a>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="front-box-content">
                        <h2>Videos</h2>
                        <i class="fa-solid fa-video" style="color: #ffffff;"></i>
                    </div>
                    <div class="back-box-content">
                        <h2>Videos</h2>
                        <p>Explore a world of cultural diversity through our videos, where every frame is a window into a different way of life.</p>
                        <a href=""><button>Start</button></a>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="front-box-content">
                        <h2>Posts</h2>
                        <i class="fa-solid fa-image-portrait" style="color: #ffffff;"></i>
                    </div>
                    <div class="back-box-content">
                        <h2>Posts</h2>
                        <p>Through our platform, we aim to amplify cultural voices, creating a space where every post contributes to a more connected and empathetic world.</p>
                        <a href=""><button>Start</button></a>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="front-box-content">
                        <h2>Chatting</h2>
                        <i class="fa-regular fa-comments" style="color: #ffffff;"></i>
                    </div>
                    <div class="back-box-content">
                        <h2>Chats</h2>
                        <p>Our chat platform is a global village, where borders disappear, and friendships across cultures flourish.</p>
                        <a href=""><button>Start</button></a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

<div id="home-main2" class="home-main2">
    
    <div class="home-main-heading2">Reasons to choose "Across Us"</div>

    <div class="divGroup">
        <div id="divGroup1">
            <h3>Connectivity</h3>
            <p>Connecting with people from different cultures opens our minds to new perspectives and ways of thinking, fostering creativity and innovation.</p>
        </div>
        <div id="divGroup2">
            <h3>Transparency</h3>
            <p>Transparency of thoughts fosters trust and authenticity, enabling more meaningful and genuine connections with others.</p>
        </div>
        <div id="divGroup3">
            <h3>Simplicity</h3>
            <p>Embracing simplicity allows us to focus on what truly matters, reducing distractions and enhancing our ability to make meaningful connections.</p>
        </div>

        <div class="motion-divGroup4"></div>
        <div class="motion-divGroup5"></div>
    </div>
</div>

<div id="home-main3" class="home-main3">
    <div class="home-main3-free"></div>
    <div class="home-main3-form">
        <form action="">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="username">
                <label for="floatingInput">Name</label>
            </div>
            <div class="row g-2 mb-3">
                <div class="col-md">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                    <label for="floatingInputGrid">Email address</label>
                  </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGrid" placeholder="" value="">
                      <label for="floatingInputGrid">Phone No.</label>
                    </div>
                </div>
              </div>
              <div class="form-floating mb-4">
                <textarea class="form-control" placeholder="Leave a message here" id="floatingTextarea2" style="height: 150px"></textarea>
                <label for="floatingTextarea2">Message</label>
              </div>
              <button class="btn btn-primary" type="button">Button</button>
        </form>
    </div>
    <div class="home-main3-content">
        <div id="heading">Contact Us</div>
        <div id="content">contact us for questions, assistance, or collaboration opportunities via the contact information provided-</div>
        <div id="contact">
            <div>91-9836829278, 91-9456878233</div>
            <div>acrossusforunity@gmail.com</div>
            <div>North Rohini, New Delhi - 85, India</div>
            <div id="contact-inside4">
                <div><i class="fa-solid fa-phone" style="color: #ffffff;"></i></div>
                <div><i class="fa-solid fa-envelope" style="color: #ffffff;"></i></div>
                <div><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i></div>
            </div>
        </div>
    </div>
</div>

<div id="home-main4" class="home-main4">
    <div class="home-main41">
        <div class="home-main411">
            <div id="a1">Across Us</div>
            <div id="a2">Stay in the loop and sign up for the Across Us newsletter:</div>
            <div id="a3">
                <form action="">
                    <div class="form-floating mb-3" style="width: 400px; color: black;">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                      </div>
                      <span><button id="btn12" type="button" class="btn btn-light">Submit</button></span>
                </form>
            </div>
            <div id="a4"></div>
        </div>
        <div class="home-main412">
            <div>
                <p style="font-weight: bold;">Company</p>
                <a href="">
                    <p>Home</p>
                </a>
                <a href="">
                    <p>About</p>
                </a>
                <a href="">
                    <p>Solutions</p>
                </a>
                <a href="">
                    <p>Pricing</p>
                </a>
                <a href="">
                    <p>Team</p>
                </a>
                <a href="">
                    <p>Career</p>
                </a>
            </div>
            <div>
                <p style="font-weight: bold;">Documentation</p>
                <a href="">
                    <p>Help Center</p>
                </a>
                <a href="">
                    <p>Contact</p>
                </a>
                <a href="">
                    <p>FAQ</p>
                </a>
                <a href="">
                    <p>Privacy Policy</p>
                </a>
            </div>
            <div>
                <p style="font-weight: bold;">Social</p>
                <a href="">
                    <p>Facebook</p>
                </a>
                <a href="">
                    <p>Instagram</p>
                </a>
                <a href="">
                    <p>Youtube</p>
                </a>
                <a href="">
                    <p>Linkdin</p>
                </a>
            </div>
        </div>
    </div>
    <div class="home-main42">
        <p>© Across Us Inc. All Rights Reserved 2024</p>
        <p>Terms & Conditions</p>
    </div>
</div>

