<% layout('/layouts/boilerplate.ejs') %>

<div class="home-main">
    <div class="home-main-heading">Our Services <i class="fa-solid fa-headset" style="color: #ffffff;"></i></div>
    <div class="home-main-content">
        <div class="scrollButtons">
            <button class="scroll-button1" onclick="scrollContainer(-160)">Previous</button>
            <button class="scroll-button2" onclick="scrollContainer(160)">Next</button>
        </div>
        <div class="inside-home-main-content">
            <div class="box">
                <div class="box-inner">
                    <div class="front-box-content">
                        <h2>Blogging</h2>
                        <i class="fa-solid fa-blog" style="color: #ffffff;"></i>
                    </div>
                    <div class="back-box-content">
                        <h2>Blogging</h2>
                        <p>Join our community of global storytellers and share your cultural experiences, connecting with others who celebrate diversity and inclusion.</p>
                        <a href=""><button>Start</button></a>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="front-box-content">
                        <h2>Videos</h2>
                        <i class="fa-solid fa-video" style="color: #ffffff;"></i>
                    </div>
                    <div class="back-box-content">
                        <h2>Videos</h2>
                        <p>Explore a world of cultural diversity through our videos, where every frame is a window into a different way of life.</p>
                        <a href=""><button>Start</button></a>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="front-box-content">
                        <h2>Posts</h2>
                        <i class="fa-solid fa-image-portrait" style="color: #ffffff;"></i>
                    </div>
                    <div class="back-box-content">
                        <h2>Posts</h2>
                        <p>Through our platform, we aim to amplify cultural voices, creating a space where every post contributes to a more connected and empathetic world.</p>
                        <a href=""><button>Start</button></a>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="front-box-content">
                        <h2>Chatting</h2>
                        <i class="fa-regular fa-comments" style="color: #ffffff;"></i>
                    </div>
                    <div class="back-box-content">
                        <h2>Chats</h2>
                        <p>Our chat platform is a global village, where borders disappear, and friendships across cultures flourish.</p>
                        <a href=""><button>Start</button></a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

<div class="home-main2">
    
    <div class="home-main-heading2">Reasons to choose "Across Us"</div>

    <div class="divGroup">
        <div id="divGroup1">
            <h3>Connectivity</h3>
            <p>Connecting with people from different cultures opens our minds to new perspectives and ways of thinking, fostering creativity and innovation.</p>
        </div>
        <div id="divGroup2">
            <h3>Transparency</h3>
            <p>Transparency of thoughts fosters trust and authenticity, enabling more meaningful and genuine connections with others.</p>
        </div>
        <div id="divGroup3">
            <h3>Simplicity</h3>
            <p>Embracing simplicity allows us to focus on what truly matters, reducing distractions and enhancing our ability to make meaningful connections.</p>
        </div>

        <div class="motion-divGroup4"></div>
        <div class="motion-divGroup5"></div>
    </div>
</div>

