body {
    padding: 0;
    margin: 0;
    background-color: rgb(22, 26, 48);
    height: 100vh;
}

hr{
    margin-top: 0;
    height: 1rem;
    background: linear-gradient(60deg, rgb(255, 255, 255) 0%, rgb(102, 103, 111) 100%) 0px 0px / 400px 1px;
}

/* navbar.ejs */
.navbar {
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    height: 125px;
    /* background-color: aliceblue; */
    padding-top: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
} */

.navbar #logo {
    width: 170px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    background-color: rgb(22, 26, 48);
    border: 1px solid #f4f6fc;
    border-radius: 5px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 35px;
}

/* @keyframes rotation {
    0% {--gradient-angle:0deg;}
    100% {--gradient-angle:360deg;}
} */

/* .navbar #logo::before,
.navbar #logo::after {
    content: '';
    position: absolute;
    inset:-.1rem;
    border-radius: inherit;
    z-index: -1;
    background:conic-gradient(from var(--gradient-angle),#5BBCFF,#FFFAB7,#FFD1E3,#7EA1FF,#97E7E1);
    animation: rotation  10s linear infinite;
} */

/* .navbar #logo::after {
    filter: blur(3.5rem);
} */

.navbar > a {
    text-decoration: none;
    color: #f4f6fc;
    font-weight: 500;

}

/* #logo:before {
    content: '';
    position: absolute;
    top:1px;
    left: 0;
    height: 0;
    width: 0;
    background:transparent;
    border: 6px solid transparent;
}

#logo:hover:before {
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0% {
        height: 0;
        width: 0;
        border-top-color: orange;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
    50% {
        height: 0;
        width: 100%;
        border-top-color: orange;
        border-right-color: orange;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
    100% {
        height: 100%;
        width: 100%;
        border-top-color: orange;
        border-right-color: orange;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
}

#logo:after {
    content: '';
    position: absolute;
    top:-2px;
    left: 0;
    height: 0;
    width: 0;
    background:transparent;
    border: 6px solid transparent;
}

#logo:hover:after {
    animation: animate2 1s linear forwards;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        height: 0;
        width: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: orange;
    }
    50% {
        height: 100%;
        width: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: orange;
        border-bottom-color: orange;
    }
    100% {
        height: 100%;
        width: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: orange;
        border-bottom-color: orange;
    }
} */

.navbar #navbarContent {
    height: 5rem;
    width: 42rem;
    padding: 1rem 1rem 1rem 0rem;
    margin-left: 2rem;
}

.navbar #navbarContent div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* .navbar #navbarContent span:hover {
    padding-left: 6px;
    border-left: 2px dashed orange;
} */

.navbar #navbarContent a {
    padding: 0.75rem;
    border-radius: 2px;
    background-color: transparent;
    text-decoration: none;
    color: #f4f6fc;
    opacity: 1;
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
}

.navbar #navbarContent div a i {
    font-size: 1.25rem;
    margin-left: 10px;
    opacity: 1;
}

.search{
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    height: 5rem;
    width: 25rem;
    margin-right: 1rem;
}

.search input{
    padding: 1rem;
    background-color: #f4f6fc;
    border: none;
    border-radius: 5px;
    height: 2.5rem;
    width: 300px !important;
    margin-right: 0.5rem;
    margin-left: 2rem;
}

.search input::placeholder{
    color: rgba(22, 26, 48,0.7);
}

.search button{
    align-items: center;
    justify-content: center;
    background-color: #f4f6fc;
    border: none;
    border-radius: 5px;
    height: 2.5rem;
    width: 35px;
    color: rgb(22, 26, 48);
}
.navbarButtons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5rem;
    width: 25rem;
    margin-right: 3rem;
}

.navbarButtons a{
    font-weight: 500;
    height: 3rem;
    width: 10rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f6fc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(22, 26, 48);
    border-radius: 5px;

}

/* #navbarButtons .logoutBtn button {
    border: 0;
    background-color: none;
    height: 50px;
    width: 150px;
    border-radius: 40px;
    font-size: larger;
    font-weight: 700;
    transition: border-radius 1s ease;
}

#navbarButtons i {
    display: none;
}

#navbarButtons a {
    text-decoration: none;
}

#navbarButtons:hover {
    border-radius: 50%;
}

#navbarButtons:hover .logoutBtn button{
    color: transparent;
    height: 80px;
    width: 80px;
    position:relative;
    border-radius: 50%;
    bottom: 8px;
}


#navbarButtons:hover .logoutBtn i {
    display: block;
    position: relative;
    bottom: 14px;
    left: 2px;
    font-size: xx-large;
}


#navbarButtons .logoutBtn button:hover {
    color: transparent;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position:relative;
    bottom: 8px;
}

#navbarButtons .logoutBtn button:hover i {
    display: block;
    position: relative;
    bottom: 14px;
    left: 2px;
    font-size: xx-large;
}

.humBurgerMenu {
    display: none;
}

.humBurgerMenu-box {
    display: none;
}

.humBurgerMenu-box-content {
    display: none;
}  */


.video_section{
    margin-left: 3rem;
    margin-top: 4rem;
    height: 470px;
    width: 95%;
    padding-left: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.video_section .video{
    width: 47%;
    height: 100%;
    border-radius: 0.5rem;
    padding: 0;
}

.video_section .video video{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.video_section .video_section_content{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-left: 3rem;
    border-radius: 0.5rem;
    background: linear-gradient(135deg, rgb(52, 51, 78) 0%, rgb(182, 187, 196) 100%) 0px 0px / 900px 600px;
}

.video_section .video_section_content p,h2{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.video_section .video_section_content h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 0;
}

.video_section .video_section_content p{
    font-size: 1.2rem;
}


/* /---------------------------------------------------- */

@media screen and (max-width:1166.9px) and (min-height:728.7px) {
    .navbar #navbarContent {
        position: relative;
        right: 20px;
    }

    .navbar #navbarButtons {
        height: 80px;
        width: 160px;
        /* background-color: antiquewhite; */
        padding: 0.6rem;
    } 
}

@media screen and (max-width:1128.9px) and (min-height:728.7px){
    .navbar #navbarButtons {
        width: 120px;
    } 

    .navbar #navbarContent {
        width: 720px;
    }

    .navbar #logo {
        width: 120px;
    }
}


@media screen and (max-width:1082.9px) and (min-height:728.7px){
    .navbar #navbarButtons {
        width: 100px;
    } 
}

@media screen and (max-width:1018.9px) and (min-height:728.7px) {
    .navbar #navbarContent {
        display: none;
        opacity: 0;
    }
    .navbar #navbarContent div a {
        display: none;
    }

    .navbar #navbarButtons {
        display: none;
    }

    .humBurgerMenu {
        display: block;
        height: 60px;
        width: 60px;
        /* background-color: #7EA1FF; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }

    .humBurgerMenu-box {
        display: block;
        position: fixed;
        height: 260px;
        width: 100%;
        /* background-color: black; */
        left: 0;
        z-index: 12;
        top: 140px;
        transition: opacity 1s ease;
    }

    .humBurgerMenu-box-content {
        display: block;
        height: 100%;
        width: 32%;
        background-color: black;
        position: relative;
        left: 22px;
        border-radius: 30px;
        opacity: 0.9;
        padding-left: 1rem;
        color: white;
    }

    .humBurgerMenu-box-content>i {
        position: relative;
        left: 266px;
        top: 16px;
        font-size: 22px;
        transition: transform 0.5s linear;
    }

    .humBurgerMenu-box-content i {
        margin-right: 1rem;
    }
    
    .humBurgerMenu-box-content a {
        text-decoration: none;
        color: white;
    }

    .humBurgerMenu-box-content i:hover {
        transform: rotate(360deg);
    }

    #floatingInput {
        display: none;
        width: 160px;
    }

    #floatingInput~label {
        display: none;
    }

    .searchBox {
        display: none;
        position: relative;
        left: 170px;
        bottom: 46px;
        width: 100px;
    }

    .searchBox button {
        height: 40px;
        background-color: green;
        border-radius: 20px;
        border: 1px solid white;
    }
    .searchBox button i {
        position: relative;
        left: 6px;
    }
}

@media screen and (max-width:1015.9px) and (min-height:728.7px) {
    .humBurgerMenu-box-content>i {
        position: relative;
        left: 256px;
        top: 16px;
        font-size: 22px;
        transition: transform 0.5s linear;
    }
}

@media screen and (max-width:1009.9px) and (min-height:728.7px) {
    .humBurgerMenu-box-content>i {
        position: relative;
        left: 236px;
        top: 16px;
        font-size: 22px;
        transition: transform 0.5s linear;
    }
}

@media screen and (max-width:880.9px) and (min-height:728.7px) {
    .humBurgerMenu-box-content>i {
        position: relative;
        left: 226px;
        top: 16px;
        font-size: 22px;
        transition: transform 0.5s linear;
    }
}

/* /------------------------------------------------------------------ */

@media screen and (max-width: 426px) {

    .navbar #navbarContent {
        display: none;
    }

    #navbarContent div {
        display: none;
    }

    #navbarButtons {
        display: none;
    }
    
    .navbar #logo {
        width: 200px;
    }
    
    .humBurgerMenu {
        display: block;
        height: 60px;
        width: 60px;
        /* background-color: #7EA1FF; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }

    .humBurgerMenu-box {
        display: block;
        position: fixed;
        height: 260px;
        width: 100%;
        /* background-color: black; */
        left: 0;
        z-index: 12;
        top: 140px;
        transition: opacity 1s ease;
    }

    .humBurgerMenu-box-content {
        display: block;
        height: 100%;
        width: 60%;
        background-color: black;
        position: relative;
        left: 22px;
        border-radius: 30px;
        opacity: 0.9;
        padding-left: 1rem;
        color: white;
    }

    .humBurgerMenu-box-content>i {
        position: relative;
        left: 206px;
        top: 16px;
        font-size: 22px;
        transition: transform 0.5s linear;
    }

    .humBurgerMenu-box-content i {
        margin-right: 1rem;
    }
    
    .humBurgerMenu-box-content a {
        text-decoration: none;
        color: white;
    }

    .humBurgerMenu-box-content i:hover {
        transform: rotate(360deg);
    }

    #floatingInput {
        display: none;
    }

    #floatingInput~label {
        display: none;
    }

    .searchBox {
        display: none;
        position: relative;
        left: 170px;
        bottom: 46px;
        width: 100px;
    }

    .searchBox button {
        height: 40px;
        background-color: green;
        border-radius: 20px;
        border: 1px solid white;
    }
    .searchBox button i {
        position: relative;
        left: 6px;
    }

}