/* home-main2 */
.home-main2 {
    height: 550px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    margin-left: 1rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 2.5rem;
}

.home-main2 .home-main-heading2 {
    height: 80px;
    width: 800px;
    color: white;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.home-main-heading2 i {
    position: relative;
    left: 8px;
}

.reasons{
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.reason_box{
    background: linear-gradient(135deg, rgb(52, 51, 78) 0%, rgb(182, 187, 196) 100%) 0px 0px / 600px 600px;
    height: 24rem;
    width: 32%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 20px;
    margin-right: 1.5rem;
}

.reason_box h2{
    color: white;
    font-size: 2.25rem;
}

.reason_box p{
    color: white;
    font-size: larger;
}

.reason_box img{
    width: 55%;
    height: 50%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.divGroup {
    height: 560px;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 1rem;
}

.divGroup #divGroup1 {
    height: 400px;
    width: 350px;
    background-color: #5DEBD7;
    position: relative;
    top: 60px;
    left: 460px;
    z-index: 3;
    padding: 2rem;
}


.divGroup #divGroup2 {
    height: 350px;
    width: 300px;
    background-color: #FFFAB7;
    position: absolute;
    top: 940px;
    left: 260px;
    padding: 2rem;
}

.divGroup #divGroup2:hover {
    z-index: 5;
}


.divGroup #divGroup3 {
    height: 300px;
    width: 250px;
    background-color: #7BC9FF;
    position: absolute;
    top: 950px;
    left: 780px;
    padding: 2rem;
}

.divGroup #divGroup3:hover {
    z-index: 5;
}

.divGroup h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

.divGroup p {
    opacity: 0.8;
}

.motion-divGroup4 {
    height: 80px;
    width: 160px;
    background-color: #FFD1E3;
    position: relative;
    bottom: 100px;
    right: 16px; 
    z-index: 2;
    animation: widthTransition 5s ease-in-out infinite ;  
}

@keyframes widthTransition {
    0%, 100% {
        width: 40px; /* Initial and final width */
    }
    50% {
        width: 1220px; /* Width during transition */
    }
}

.motion-divGroup5 {
    height: 80px;
    width: 80px;
    background-color: #FFD1E3;
    position: relative;
    bottom: 496px;
    left: 1000px; 
    animation: widthTransition1 5s ease-in-out infinite ;
}

@keyframes widthTransition1 {
    0%, 100% {
        height: 20px; /* Initial and final width */
    }
    50% {
        height: 590px; /* Width during transition */
    }
}


/* /-------------------------------------------------------------------------------------------- */

@media screen and (max-width: 426px) {
    .motion-divGroup4 {
        display: none;
    }
    .motion-divGroup5 {
        /* display: none; */
        position: absolute;
        top: 672px;
        left: 340px;
        width: 20px;
    }

    .home-main2 {
        padding-left: 1rem;
        height: 690px;
    }

    .home-main2 .home-main-heading2 {
        height: 120px;
        width: 400px;
        color: white;
        font-size: 20px;
        font-weight: 900;
    }

    .divGroup {
        padding-left: 0.2rem;
    }

    .divGroup #divGroup1 {
        height: 250px;
        width: 300px;
        background-color: #5DEBD7;
        position: absolute;
        top: 980px;
        left: 20px;
        z-index: 3;
        padding: 2rem;
    }

    .divGroup #divGroup1:hover {
        transform: translateX(20px);
    }

    .divGroup #divGroup2 {
        height: 250px;
        width: 300px;
        background-color: #FFFAB7;
        position: absolute;
        top: 894px;
        left: 20px;
        z-index: 2;
        padding: 2rem;
    }

    .divGroup #divGroup2:hover {
        height: 286px;
        transform: translateX(20px);
    }

    .divGroup #divGroup3 {
        height: 250px;
        width: 300px;
        background-color: #7BC9FF;
        position: absolute;
        top: 810px;
        left: 20px;
        z-index: 1;
        padding: 2rem;
    }

    .divGroup #divGroup3:hover {
        height: 380px;
        transform: translateX(20px);
    }

}


@media screen and (max-width:1166.9px) and (min-height:728.7px) {
    .divGroup #divGroup1 {
        height: 400px;
        width: 350px;
        background-color: #5DEBD7;
        position: relative;
        top: 60px;
        left: 260px;
        z-index: 3;
        padding: 2rem;
    }

    .divGroup #divGroup2 {
        height: 350px;
        width: 300px;
        background-color: #FFFAB7;
        position: absolute;
        top: 940px;
        left: 120px;
        padding: 2rem;
    }

    .divGroup #divGroup3 {
        height: 300px;
        width: 250px;
        background-color: #7BC9FF;
        position: absolute;
        top: 950px;
        left: 580px;
        padding: 2rem;
    }

    .motion-divGroup4 {
        height: 80px;
        width: 160px;
        background-color: #FFD1E3;
        position: relative;
        bottom: 100px;
        right: 16px; 
        z-index: 2;
        animation: widthTransition 5s ease-in-out infinite ;  
    }
    
    @keyframes widthTransition {
        0%, 100% {
            width: 40px; /* Initial and final width */
        }
        50% {
            width: 980px; /* Width during transition */
        }
    }

    .motion-divGroup5 {
        height: 80px;
        width: 80px;
        background-color: #FFD1E3;
        position: relative;
        bottom: 496px;
        left: 800px; 
        animation: widthTransition1 5s ease-in-out infinite ;
    }
    
    @keyframes widthTransition1 {
        0%, 100% {
            height: 20px; /* Initial and final width */
        }
        50% {
            height: 550px; /* Width during transition */
        }
    }
}