/* home.ejs */

/* author section */

.authors{
    display: flex;
    height: 50vh;
    /* background-color: brown; */
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 1.5rem;
}

.sarthak, .rahul{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100%;
    background: linear-gradient(135deg, rgb(52, 51, 78) 0%, rgb(182, 187, 196) 100%) 0px 0px / 900px 900px;
    align-items: center;
    padding: 3rem;
    border-radius: 1rem;
}

.sarthak i, .rahul i{
    font-size: 5rem;
    color: #f4f6fc;
}

.sarthak h6, .rahul h6{
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1.5rem;
    color: #f4f6fc;
    line-height: 1.75rem;
}

.sarthak p, .rahul p{
    font-size: 1.1rem;
    line-height: 0.75rem;
    color: #f4f6fc;
}

.sarthak img, .rahul img{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
}

.author_heading{
    color: #f4f6fc;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 3rem;
    margin-top: 2.5rem;
    font-weight: bold;
}


/* home-main */
.home-main {
    /* background-color: aqua; */
    height: 599.6px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.home-main-heading {
    display: flex;
    align-items: center;
    /* background-color: aliceblue; */
    margin-left: 1rem;
    height: 90px;
    width: 400px;
    color: white;
    font-size: 3rem;
    font-weight: 800;
}

.home-main-heading i {
    position: relative;
    left: 8px;
}

.home-main-content {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 480px;
    width: 99.5%;
    padding: 1rem;
    padding-left: 0rem;
    /* overflow-x: auto; */
    /* overflow-x: hidden; */
    display: flex;
    align-items: center;
    /* border-right: 1px solid white; */
}



/* .home-main-content .box {
    background: linear-gradient(135deg, rgb(49, 48, 77) 0%, rgb(182, 187, 196) 100%) 0px 0px / 400px 300px; 
    background-color: transparent;
    height: 300px;
    width: 400px;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    border: 1px solid white;
} */

.box{
    background: linear-gradient(135deg, rgb(52, 51, 78) 0%, rgb(182, 187, 196) 100%) 0px 0px / 500px 500px;
    height: 25rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 20px;
    margin-right: 1.5rem;
}

.box h2{
    color: white;
    font-size: 2.25rem;
}

.box img{
    width: 60%;
    height: 60%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.box p{
    color: white;
    font-size: larger;
}

/* .box .box-inner  {
    height: 100%;
    position: relative;
    width: 100%;
    padding-top: 2rem;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.box .front-box-content h2 {
    text-align: center;
    color: white;
}

.box .front-box-content i {
    position: relative;
    top: 35px;
    left: 120px;
    font-size: 160px;
}

.box:hover .box-inner   {
    transform: rotateY(180deg);
}

.front-box-content, .back-box-content {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back-box-content {
    transform: rotateY(180deg);
    color: white;
    background:linear-gradient(135deg, rgb(49, 48, 77) 0%, rgb(182, 187, 196) 100%) 0px 0px / 400px 300px;
}

.back-box-content {
    text-align: center;
    padding-top: 20px;
    padding: 1rem;
}

.back-box-content h2 {
    margin-bottom: 30px;
}

.back-box-content button {
    height: 40px;
    width: 160px;
    border-radius: 30px;
    position: fixed;
    bottom: 16px;
    left: 126px;
    opacity: 0.6;
    background-color: black;
    color: white;
}

.back-box-content button:hover {
    opacity: 1;
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */



/* /------------------------------------------------------------------------------ */

@media screen and (max-width: 426px) {

    .menuBar-box {
        top: 540px;
        right: 30px;
        height: 60px;
        width: 60px;
    }

    .menuBar-box i {
        font-size: 30px;
        opacity: 0;
    }



    .insideMenuBox {
        background-color: black;
        right: 0px;
        top: -20px;
        border-radius: 20px;
        z-index: 14;
    }

    .home-main-content {
        border-right: none;
        height: 380px;
        display: flex;
        justify-content: center;
    }

    .home-main-heading {
        width: 300px;
        height: 60px;
        margin-bottom: 2rem;
    }

    .home-main {
        padding: 1rem;
        padding-top: 2rem;
        height: 540px;
    }

    .inside-home-main-content {
        /* width: 420px; */
        width: 300px;
        overflow-x: scroll;
        overflow-y: hidden;
        /* height: 340px; */
        height: 280px;
    }

    .inside-home-main-content .box {
        width: 260px;
        border: none;
    }

    .box .box-inner {
        width: 260px;
    } 

    .box-inner .front-box-content i{
        /* font-size: 150px; */
        font-size: 80px;
        left: 80px;
        top: 50px;
    }

    .box-inner .front-box-content,.back-box-content {
        /* height: 290px; */
        height: 200px;
        border: 1px solid white;
    }

    .box-inner .back-box-content button{
        left: 50px;
        height: 40px;
        width: 40px;
        position: relative;
        bottom: 0px;
        border: 1px solid white;
    }

    .box-inner .back-box-content  {
        overflow-y: scroll;
    }

    .scrollButtons {
        display: none;
    }
}

